<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Items</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
</head>
<body class="align-items-center">
<h1 th:text="${item.title}" class="">Title</h1>

<p th:text="${item.content}">Content</p>
<a th:href="@{/edit/{id}(id=${item.id})}" class=" btn btn-primary">Edit Item</a>
<a th:href="@{/home}" class="btn btn-primary">Home</a>
</body>
</html>